---
import { Container, FeatureCard} from '@littlesticks/odyssey-theme-components';

import Layout from '../layouts/Page.astro';
import HomeHeroSection from '../components/sections/heros/HomeHeroSection.astro';
---

<Layout>
	<HomeHeroSection />
	<Container>
		<section class="feature-card__section">
			<h2>Our services</h2>
			<p>
				Use one of our landing pages to jumpstart your website or
				ad campaign.
			</p>
			<div class="feature-card__grid">
				<FeatureCard href="/landing-pages/landing-1" title="Foundations" imgSrc="/assets/images/home/screenshots/landing-1">
				</FeatureCard>
				<FeatureCard href="/landing-pages/landing-2" title="Superstructures concrete" imgSrc="/assets/images/home/screenshots/landing-1">
				</FeatureCard>
        		<FeatureCard href="/landing-pages/landing-2" title="Demolition" imgSrc="/assets/images/home/screenshots/landing-1">
				</FeatureCard>
				<FeatureCard href="/landing-pages/landing-1" title="Interior work" imgSrc="/assets/images/home/screenshots/landing-1">
				</FeatureCard>
				<FeatureCard href="/landing-pages/landing-1" title="Preconstruction planning" imgSrc="/assets/images/home/screenshots/landing-1">
				</FeatureCard>
				<FeatureCard href="/landing-pages/landing-1" title="CMU" imgSrc="/assets/images/home/screenshots/landing-1">
				</FeatureCard>
			</div>
		</section>
	</Container>

	<!-- <Container>
		<section class="feature-card__section">
			<h2>Pojects</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore magni voluptas eligendi aspernatur nihil! Veritatis atque at vero nam iusto enim! Architecto facere provident asperiores dolor beatae magni consequatur dolores?
			</p>
			<div class="feature-card__grid">
				<FeatureCard href="/company/about" title="About Page" imgSrc="/assets/images/home/screenshots/about">
				</FeatureCard>
				<FeatureCard href="/company/contact" title="Contact Page" imgSrc="/assets/images/home/screenshots/contact">
				</FeatureCard>
				<FeatureCard href="/blog/" title="Blog Page" imgSrc="/assets/images/home/screenshots/blog">
				</FeatureCard>
				<FeatureCard
					href="/blog/posts/remote-work-mental-health"
					title="Blog Post"
          imgSrc="/assets/images/home/screenshots/blog-post"
				>
				</FeatureCard>
				<FeatureCard
					href="/company/legal"
					imgSrc="/assets/images/home/screenshots/legal"
					title="Legal Page"
				>
				</FeatureCard>
			</div>
		</section>
	</Container> -->

	<!-- <Container>
		<section class="feature-card__section">
			<h2>Theme Pages</h2>
			<p>Learn more about how to set up and use the Odyssey Theme.</p>
			<div class="feature-card__grid">
				<FeatureCard
					href="/theme/get-started"
					imgSrc="/assets/images/home/screenshots/get-started"
					title="Get Started"
				>
				</FeatureCard>
				<FeatureCard
					href="/theme/style-guide"
					imgSrc="/assets/images/home/screenshots/style-guide"
					title="Style Guide"
				>
				</FeatureCard>
			</div>
		</section>
	</Container> -->
</Layout>

<style>
	.feature-card__section {
		margin: var(--section-margin) auto;
	}
	.feature-card__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--theme-grid-gap);
	}
	@media (max-width: 768px) {
		.feature-card__grid {
			grid-template-columns: 1fr;
		}
	}
</style>
